window {
    background-color: rgba(26, 27, 38, 0.99);
    border-radius: 1em;
}

#input {
    padding: 0.7em;
    border-radius: 1em 1em 0.2em 0.2em;
    background-color: #363954;
    color: #ffffff;
    border-width: 0px;
}

#text {
    color: #ffffff;
    font-weight: bold;
}

#entry {
    padding: 0.7em;
    color: #ffffff;
    border-radius: 0.2em 0.2em 1em 1em;
}

#entry:selected {
    background-color: #8D8DFC;
} 

#text:selected {
    color: #ffffff;
    font-weight: bold
}


